@import './base/variable'
// reset
ul,li
  margin: 0
  padding: 0
#header
  width 500px
  height 500px
  background: black
  transform: translate('20px','5px');
  .title
    font-size: $base-fsize
    .icon
      background: red
